@model WalletViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="me-3">
    <div>
        <h3 class="form-label">Ваш баланс: </h3>
        <label class="form-label"> @Model.Balance </label>
        <label class="form-label"> @Model.CurrentCurrencyName </label>
    </div>
</div>
